server/spine-ts/player/example/assets/all_chars
server/spine-ts/player/example/assets/all_chars - Copy
python/venv
tools/venv
tools/chars_list.txt
tools/enemys_list.txt
tools/gif_converter/__pycache__

assets/assets/
server/assets/characters/
server/assets/enemies/
server/assets/*.json
static/assets/
server/spine-ts/build/*
server/twitch_config.json
server/bot_config.json
server/config.json
server/server_linux
server/server_win386.exe
server/*.exe
static/public/test_csrf
static/spine/dist/
static/web_app/build/*

db/certs/

release/assets/

irc_log.txt
server/log.txt
server/*.json
SECRET.md
TODO.md
local_secrets/
secrets/
thirdparty/
tmp/
.env
assets.zip
assets2.zip
.venv/
third_party/
compressed/
*.scratch
**/.scratch