#custom_container .cam_input {
    font-size: 50px;
}

#custom_container button {
    font-size: 50px;
}

#custom_container #error_message {
    font-size: 50px;
    color: aliceblue;
}

#custom_container .large_font {
    font-size: 50px;
}